# IDE
.idea/*
.vscode/*
.vs/*

# build
build/*
out/*
install/*
cmake-build-*/*
packages/*

# publish
.backup/*

# cache
LuaSTG/backup/*
LuaSTG/custom/*
DirectX/DirectXSDK/backup/*

#test
data
doc
luastg_aex/Bundle-After-Ex-Plus/game/engine.log
luastg_aex/Bundle-After-Ex-Plus/game/userdata/setting.json
luastg_aex/Bundle-After-Ex-Plus/game/userdata/setting.keymap.json
luastg_aex/Bundle-After-Ex-Plus/game/plugins/plugins.json
luastg_aex/Bundle-After-Ex-Plus/game/userdata/config.launch.json.bak
luastg_aex/Bundle-After-Ex-Plus/game/userdata/config.launch.json
luastg_aex/Bundle-After-Ex-Plus/game/userdata/imgui.ini
luastg_aex/Bundle-After-Ex-Plus/game/userdata/setting.keymap.json.bak
luastg_aex/Bundle-After-Ex-Plus/game/userdata/logs/engine-2026-02-07-13-44-58-901.log
luastg_aex/Bundle-After-Ex-Plus/game/userdata/setting.json.bak
luastg_aex/Bundle-After-Ex-Plus/game/userdata/logs/engine-2026-02-07-16-53-08-994.log
luastg_aex/Bundle-After-Ex-Plus/experimentZone/新建 DOC 文档.doc
luastg_aex/Bundle-After-Ex-Plus/game/mod/weekend_UI.zip
luastg_aex/Bundle-After-Ex-Plus/game/packages/experiment-zone/
luastg_aex/Bundle-After-Ex-Plus/game/userdata/logs/engine-2026-02-11-09-06-45-845.log
luastg_aex/luastg-editor-experiment/
luastg_aex/Bundle-After-Ex-Plus/game/mod/Untitled.zip
